body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

img {
	max-width:100%; /*Koristi 100% sirine tvog uredjaja!*/
	height:auto; /*https://stackoverflow.com/questions/15943009/difference-between-css-height-100-vs-height-auto*/
	             /*U sustini height 100% ce imati velicinu parent elementa, a "auto" znaci da ce se velicina mjenjat u odnosu na velicinu djece tj. imace velicinu djece.*/
}
